@model IEnumerable<CustomerInvoice>
<a asp-controller="CustomerInvoice" asp-action="Upsert" class="btn btn-primary">
    <i class="bi bi-plus-circle-dotted"></i> إضافة فاتورة العميل
</a>
<div style="padding-bottom: 18px;"></div>
<table id="customerInvoiceTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-list"></i></a> |
                    <a href="javascript:;" class="js-delete" data-id="@item.Id"><i class="fa fa-trash "></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script src="~/js/customerinvoice.js"></script>
}